.large-12.columns
  .masthead
    .masthead-inner
      .masthead-title
        Welcome to init(together)!
      .masthead-subtext
        Jujubes jelly-o marzipan jujubes biscuit sweet roll lollipop wafer. Sugar plum sugar plum lemon drops marshmallow cotton candy jelly-o. Halvah jelly beans jelly beans lemon drops oat cake marzipan bear claw cupcake sesame snaps.
      .masthead-button
        Read more!
