// colors
// ===================
$white:    #FFFFFF;
$black:    #000000;
$blue:     #33CCFF;

// font sizes
// ===================
$large:    40px;
$medium:   30px;
$regular:  24px;
$small:    18px;
$text:     12px;
$subtext:  8px;

// misc
//====================
$radius:   5px;